@import '~styles/common/variables';

$vertical-margin: 40px;
.modal {
	&__wrapper {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 20;
		overflow: hidden;
		
		display: block;
		overflow-x: hidden;
		overflow-y: auto;
	}
	&__bg {
		position: fixed;
		height: 100%;

		top: 0;
		right: 0;
		left: 0;
		
		background: #232323;
		opacity: 0;

		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;

		transition: opacity 0.2s cubic-bezier(0.465, 0.183, 0.153, 0.946);
		will-change: opacity;
	}

	&__dialog {
		position: relative;
		pointer-events: none;

		&.type_center {
			min-height: 100%;
			display: flex;
			width: 100%;
			flex-direction: column;
			justify-content: center;
		}
	}

	&__content {
		pointer-events: auto;

		// animation types
		&.anim_scale-fade-in {
			opacity: 0;
			transform: scale(0.5) translateZ(0);
			transition: 
				opacity 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946),
				transform 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946);
			will-change: opacity, transform;
			&.state_visible {
				opacity: 1;
				transform: scale(1) translateZ(0);
			}
		}
		&.anim_fade-in {
			opacity: 0;
			transition: opacity 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946);
			will-change: opacity;
			&.state_visible {
				opacity: 1;
			}
		}
		&.anim_fade-drop-in {
			opacity: 0;
			transform: translateY(-50%);
			transition:
				opacity 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946),
				transform 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946);
			will-change: opacity, transform;
			&.state_visible {
				opacity: 1;
				transform: translateY(0);
			}
		}
	}

	&__scrollbar-measure {
		width: 100px;
		height: 100px;
		overflow: scroll;
		position: absolute;
		top: -9999px;
	}
}
